<!-- Header -->
<header class="fx-flex fx-flex-col fx-gap-2">
  <div class="fx-flex fx-flex-row fx-gap-2 fx-px-4 fx-py-2 fx-items-center fx-position-fixed fx-w-full">

    <img src="/dc_software_logo_3.webp" class="logo">
    <h2>DC Software</h2>


    <fx-menu-trigger class="fx-ml-a">
      <button>
        <span class="material-icons">menu</span>
      </button>

      <fx-menu>
        <fx-menu-item (click)="scrollTo('works')">Works</fx-menu-item>
        <fx-menu-item (click)="scrollTo('open-source')">Open Source</fx-menu-item>
        <fx-menu-item (click)="scrollTo('side-projects')">Side Projects</fx-menu-item>
        <fx-menu-item (click)="scrollTo('contacts')">Contacts</fx-menu-item>
      </fx-menu>
    </fx-menu-trigger>

  </div>

</header>

<div class="break-0 fx-flex fx-flex-col fx-justify-center fx-items-center fx-p-4" [fx-parallax]="0.3">

  <div class="fx-flex fx-flex-col">
    <h1 class="hero">Crafting Software with ♥️</h1>
  </div>
</div>

<div id="works" class="fx-flex- fx-flex-col fx-items-center fx-p-2 fx-text-center">

  <h2>Professional Works</h2>

  <div class="citation-container">

    <blockquote class="citation">
      "Your work is your signature; make it excellent."
      <cite>— Anonymous</cite>
    </blockquote>
  </div>
</div>

<section class="container fx-flex fx-flex-row fx-flex-wrap fx-items-center fx-justify-center">

  <div class="card">
    <h2>Microgamma</h2>
    <p>Personal streaming Platform</p>
    <div class="content fx-py-2">Microgamma is a multi platform music player built with ElectronJS and Angular. It allows remote control through web interface and streaming to remote devices.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="//www.microgamma.io" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>Heimdall</h2>
    <p>Observability Platform for DataKitchen</p>

    <div class="content fx-py-2">The Observability Platform by DataKitchen (code name Heimdall) is a PWA web application developed in Angular.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="//github.com/DataKitchen/dataops-observability/tree/main/observability_ui" target="_blank">
        <span class="material-icons">public</span>
      </a>
      <button>
        <span class="material-icons">photo_library</span>
      </button>
    </div>
  </div>

  <div class="card">
    <h2>Automation Platform</h2>
    <p>Automation Platform for DataKitchen</p>

    <div class="content fx-py-2">DataKitchen's Automation platform enables data-ops best practices. Monolithic Angular application with Python backend</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="//www.datakitchen.io">
        <span class="material-icons">public</span>
      </a>
      <button>
        <span class="material-icons">photo_library</span>
      </button>
    </div>

  </div>

  <div class="card">
    <h2>Mortgage Self Service Platform</h2>
    <p>Self Service Platform for Aegon NL</p>

    <div class="content fx-py-2">Self Service Platform for Aegon NL enables users to manage their mortgage and to execute certain operations such as pre-payments and other regulatory fulfillments. It is a Angular micro-frontend web application with AWS Lambdas endpoints to interface with various systems.</div>

  </div>

  <div class="card">
    <h2>2Lasso</h2>
    <p>Users Management System for 2Simple Ltd.</p>

    <div class="content fx-py-2">2Lasso is a web application written in AngularJS with a PHP backend that enables Schools to manage their teachers and pupils within their PurpleMash subscription handling groups and permissions.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <button>
        <span class="material-icons">photo_library</span>
      </button>
    </div>

  </div>

  <div class="card">
    <h2>Dr D.</h2>
    <p>Web application to create and manage android apps.</p>

    <div class="content fx-py-2">Dr.D is a web application written in AngularJS on the MEAN stack. It was developed as a PoC and unfortunately it have never been developed further. The idea was to let the user design its own Android application the would have then automatically build using the Ionic framework.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <button>
        <span class="material-icons">photo_library</span>
      </button>
    </div>

  </div>

  <div class="card">
    <h2>FIDO</h2>
    <p>Vouchers Manager</p>
    <div class="content fx-py-2">FIDO is an AngularJS application built on the MEAN stack to handle vouchers, clients and materials/items.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <button>
        <span class="material-icons">photo_library</span>
      </button>
    </div>
  </div>

  <div class="card">
    <h2>Easytest</h2>
    <p>A Multi Choice Test Manager</p>

    <div class="content fx-py-2">Easytest is a web application written for the Liferay portal. It features json API endpoints and AngularJS client side.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="//www.datakitchen.io">
        <span class="material-icons">public</span>
      </a>
      <button>
        <span class="material-icons">photo_library</span>
      </button>
    </div>
  </div>

</section>

<div class="fx-flex break-1 fx-flex-col fx-justify-end" [fx-parallax]="0.3">
  <div class="citation-container">
    <blockquote class="citation">
      "Imagination is the only weapon in the war against reality."
      <cite>— Lewis Carroll</cite>
    </blockquote>
  </div>

</div>

<div id="open-source" class="fx-flex- fx-flex-col fx-items-center fx-p-2 fx-text-center">
  <h2>Open Source Projects / Contributions</h2>

</div>

<section class="container fx-flex fx-flex-row fx-flex-wrap fx-items-center fx-justify-center">

  <div class="card">
    <h2>@microphi/flux</h2>
    <p>The @microphi/flux framework</p>

    <div class="content fx-py-2">This is an experimental frontend framework. <br>This website has been written with it.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="//www.datakitchen.io">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>@microphi/store</h2>
    <p>The @microphi/store</p>

    <div class="content fx-py-2">It is a pure RxJS store for typescript application, it works in node as well as in the browser. Is small, fast and simple.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="//www.datakitchen.io">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>
</section>

<div class="fx-flex break-2 fx-flex-col fx-justify-end" [fx-parallax]="0.3">

  <div class="citation-container">
    <blockquote class="citation">
      "Simplicity is the ultimate sophistication."
      <cite>— Leonardo da Vinci</cite>


  </div>
</div>

<div id="side-projects" class="fx-flex- fx-flex-col fx-items-center fx-p-2 fx-text-center">

  <h2>Side Projects / Experiments / Fun</h2>

</div>

<section class="container fx-flex fx-flex-row fx-flex-wrap fx-items-center fx-justify-center">

  <div class="card">
    <h2>Metronoman</h2>
    <p>A Simple PWA metronome</p>
  </div>

  <div class="card">
    <h2>Metronoman Flux Remix</h2>
    <p>Same as Metronoman but made with @microphi/flux framework</p>
  </div>

  <div class="card">
    <h2>Neovim PDE</h2>
    <p>Personal Development Environment</p>
  </div>

  <div class="card">
    <h2>Music</h2>
    <p>My Music</p>
  </div>
</section>

<div class="fx-flex break-3 fx-flex-col fx-justify-end" [fx-parallax]="0.3">

  <div class="citation-container">
    <blockquote class="citation">
      "The important thing is to never stop questioning. Curiosity has its own reason for existing."
      <cite>— Albert Einstein</cite>
    </blockquote>
  </div>
</div>

<footer>
  <div id="contacts" class="container">
    <div class="fx-flex fx-flex-row xs:fx-flex-col fx-gap-2 fx-justify-around fx-items-center">
      <div>
        <img class="fx-vw-25" src="/dc_software_logo_3.webp">
      </div>

      <div class="fx-flex fx-flex-col">

        <div>
          <a class="fx-flex fx-flex-row fx-gap-2" href="mailto:cavaliere.davide@gmail.com">
            <span class="material-icons">email</span> <span>cavaliere.davide@gmail.com</span>
          </a>
        </div>
        <div>
          <a class="fx-flex fx-flex-row fx-gap-2" href="tel:+393806472057">
            <span class="material-icons">phone</span> <span>+39 380 647 20 57</span>
          </a>
        </div>
        <div>
          <a class="fx-flex fx-flex-row fx-gap-2" href="https://x.com/davidecavaliere" target="_blank">
            <span class="material-icons">public</span> <span>@davidecavaliere</span>
          </a>
        </div>
      </div>

      <!--<div>-->
      <!--  <img class="fx-vw-25" src="/w7.webp">-->
      <!--</div>-->
    </div>
    <!--<p class="footer-text">Get In Touch</p>-->
    <!--  -->
  </div>
</footer>
