<!-- Header -->
<header class="fx-flex fx-flex-col fx-gap-2">
  <div class="fx-flex fx-flex-row fx-gap-2 fx-px-4 fx-py-2 fx-items-center fx-position-fixed fx-w-full">

    <img src="/dc_software_logo_3.webp" class="logo">
    <h2>DC Software</h2>


    <fx-menu-trigger class="fx-ml-a">
      <button>
        <span class="material-icons">menu</span>
      </button>

      <fx-menu>
        <fx-menu-item (click)="scrollTo('works')">Works</fx-menu-item>
        <fx-menu-item (click)="scrollTo('open-source')">Open Source</fx-menu-item>
        <fx-menu-item (click)="scrollTo('side-projects')">Side Projects</fx-menu-item>
        <fx-menu-item (click)="scrollTo('contacts')">Contacts</fx-menu-item>
      </fx-menu>
    </fx-menu-trigger>

  </div>

</header>

<fx-spectrum-analyzer #analyzer [[width]]="400" [[height]]="200"></fx-spectrum-analyzer>

<div class="break-0 fx-flex fx-flex-col fx-justify-center fx-items-center fx-p-4" [fx-parallax]="0.3">

  <div class="fx-flex fx-flex-col">
    <h1 class="hero">Crafting Software with ♥️</h1>
  </div>
</div>

<div id="works" class="fx-flex- fx-flex-col fx-items-center fx-p-2 fx-text-center">

  <h2>Professional Works</h2>

  <div class="citation-container">

    <blockquote class="citation">
      "Your work is your signature; make it excellent."
      <cite>— Anonymous</cite>
    </blockquote>
  </div>
</div>

<section class="container fx-flex fx-flex-row fx-flex-wrap fx-items-center fx-justify-center">

  <div class="card">
    <h2>Microgamma</h2>
    <p>Personal streaming Platform</p>
    <div class="content fx-py-2">Microgamma is a multi platform music player built with ElectronJS and Angular. It allows remote control through web interface and streaming to remote devices.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="//www.microgamma.io" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>Observability</h2>
    <p>Observability Platform for DataKitchen</p>

    <div class="content fx-py-2">The Observability Platform by DataKitchen (code name Heimdall) is a PWA web application developed in Angular.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="//github.com/DataKitchen/dataops-observability/tree/main/observability_ui" target="_blank">
        <span class="material-icons">public</span>
      </a>
      <fx-overlay #overlay class="bg-medium">
        <div class="fx-flex fx-flex-col fx-justify-center fx-gap-6 fx-text-center">

          <h1>Observability Platform for DataKitchen</h1>

          <fx-for-two let="url" [of]="heimdall" class="fx-flex fx-flex-col fx-gap-5 fx-items-center container">
            <img [src]="url" class="fx-vw-75 lg:fx-vw-50 xl:fx-vw-25">
          </fx-for-two>

        </div>
      </fx-overlay>
      <button (click)="openScreenshots(overlay)">
        <span class="material-icons">photo_library</span>
      </button>
    </div>
  </div>

  <div class="card">
    <h2>Automation Platform</h2>
    <p>Automation Platform for DataKitchen</p>

    <div class="content fx-py-2">DataKitchen's Automation platform enables data-ops best practices. Monolithic Angular application with Python backend</div>

    <fx-overlay #overlay1 class="bg-medium">
      <div class="fx-flex fx-flex-col fx-justify-center fx-px-4 fx-gap-6 fx-text-center">

        <h1>Automation Platform for DataKitchen</h1>

        <fx-for-two let="url" [of]="automation" class="fx-flex fx-flex-col fx-gap-5 fx-items-center container">
          <img [src]="url" class="fx-vw-full lg:fx-vw-50 xl:fx-vw-25">
        </fx-for-two>

      </div>
    </fx-overlay>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="//www.datakitchen.io" target="_blank">
        <span class="material-icons">public</span>
      </a>
      <button (click)="openScreenshots(overlay1)">
        <span class="material-icons">photo_library</span>
      </button>
    </div>

  </div>

  <div class="card">
    <h2>Mortgage Self Service Platform</h2>
    <p>Self Service Platform for Aegon NL</p>

    <div class="content fx-py-2">Self Service Platform for Aegon NL enables users to manage their mortgage and to execute certain operations such as pre-payments and other regulatory fulfillments. It is a Angular micro-frontend web application with AWS Lambdas endpoints to interface with various systems.</div>

  </div>

  <div class="card">
    <h2>2Lasso</h2>
    <p>Users Management System for 2Simple Ltd.</p>

    <div class="content fx-py-2">2Lasso is a web application written in AngularJS with a PHP backend that enables Schools to manage their teachers and pupils within their PurpleMash subscription handling groups and permissions.</div>

    <fx-overlay #overlay2 class="bg-medium">
      <div class="fx-flex fx-flex-col fx-justify-center fx-px-4 fx-gap-6 fx-text-center back">

        <h1>2Lasso</h1>

        <fx-for-two let="url" [of]="lasso" class="fx-flex fx-flex-col fx-gap-5 fx-items-center container">
          <img [src]="url" class="fx-vw-full lg:fx-vw-50 xl:fx-vw-25">
        </fx-for-two>

      </div>
    </fx-overlay>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="//www.2simple.com" target="_blank">
        <span class="material-icons">public</span>
      </a>
      <button (click)="openScreenshots(overlay2)">
        <span class="material-icons">photo_library</span>
      </button>
    </div>

  </div>

  <div class="card">
    <h2>Dr D.</h2>
    <p>Web application to create and manage android apps.</p>

    <div class="content fx-py-2">Dr.D is a web application written in AngularJS on the MEAN stack. It was developed as a PoC and unfortunately it have never been developed further. The idea was to let the user design its own Android application the would have then automatically build using the Ionic framework.</div>

    <fx-overlay #overlay3 class="bg-medium">
      <div class="fx-flex fx-flex-col fx-justify-center fx-px-4 fx-gap-6 fx-text-center back">

        <h1>Dr. D</h1>

        <fx-for-two let="url" [of]="drD" class="fx-flex fx-flex-col fx-gap-5 fx-items-center container">
          <img [src]="url" class="fx-vw-full lg:fx-vw-50 xl:fx-vw-25">
        </fx-for-two>

      </div>
    </fx-overlay>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <button (click)="openScreenshots(overlay3)">
        <span class="material-icons">photo_library</span>
      </button>
    </div>

  </div>



  <div class="card">
    <h2>Easytest</h2>
    <p>A Multi Choice Test Manager</p>

    <div class="content fx-py-2">Easytest is a web application written for the Liferay portal. It features json API endpoints and AngularJS client side.</div>

    <fx-overlay #overlay4 class="bg-medium">
      <div class="fx-flex fx-flex-col fx-justify-center fx-px-4 fx-gap-6 fx-text-center back">

        <h1>Easytest</h1>

        <fx-for-two let="url" [of]="easytest" class="fx-flex fx-flex-col fx-gap-5 fx-items-center container">
          <img [src]="url" class="fx-vw-full lg:fx-vw-50 xl:fx-vw-25">
        </fx-for-two>

      </div>
    </fx-overlay>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <button (click)="openScreenshots(overlay4)">
        <span class="material-icons">photo_library</span>
      </button>
    </div>

</section>

<div class="fx-flex break-1 fx-flex-col fx-justify-end" [fx-parallax]="0.3">
  <div class="citation-container">
    <blockquote class="citation">
      "Imagination is the only weapon in the war against reality."
      <cite>— Lewis Carroll</cite>
    </blockquote>
  </div>

</div>

<div id="open-source" class="fx-flex- fx-flex-col fx-items-center fx-p-2 fx-text-center">
  <h2>Open Source Projects / Contributions</h2>

</div>

<section class="container fx-flex fx-flex-row fx-flex-wrap fx-items-center fx-justify-center">

  <div class="card">
    <h2>@microphi/flux</h2>
    <p>The @microphi/flux framework</p>

    <div class="content fx-py-2">This is an experimental frontend framework for building web component. It features: a small footprint and rxjs based change detection. <br>This website has been made with it.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="//flux.microphi.io" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>@microphi/store</h2>
    <p>High performance state manger for Javascript / Node.js</p>

    <div class="content fx-py-2">It is a pure RxJS store for typescript application, it works in node as well as in the browser. Is small, fast and simple.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="https://github.com/microph1/microphi/tree/master/packages/store" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>@microphi/di</h2>
    <p>Powerful Dependency Injection Framework</p>

    <div class="content fx-py-2">A minimalistic and full featured dependency injection framework for Javascript.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="https://github.com/microph1/microphi/tree/master/packages/di" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>@microphi/debug</h2>
    <p>Just another wrapper around console.log</p>

    <div class="content fx-py-2">@microphi/debug allows log filtering, has a nice timestamp and colors and an hook to manually handle logs regardless whether they'd be displayed on the console or not.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="https://github.com/microph1/microphi/tree/master/packages/debug" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>@microphi/list</h2>
    <p>Combine Javascript Arrays and Maps for the ultimate flexibility</p>

    <div class="content fx-py-2">
      @microphi/list is a wrapper around a Javascript array and a Map allowing O(1) access to the data stored while conserving ordering and ease of inserting data of an array.
    </div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="https://github.com/microph1/microphi/tree/master/packages/list" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>@microphi/json-db</h2>
    <p>Store data on a json file on Node.js/Deno applications</p>

    <div class="content fx-py-2">
      @microphi/json-db allows storing data on json files, automatically splitting data to files. It also encapsulates <a href="https://github.com/lucaong/minisearch" target="_blank">Minisearch</a> to allow fast and fuzzy search.
    </div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="https://github.com/microph1/microphi/tree/master/packages/json-db" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>@microphi/styles</h2>
    <p>Flex first layout and fluid responsiveness</p>

    <div class="content fx-py-2">
      @microphi/styles is a set of scss utility classes to allow easy layout with flex and to use <a href="https://utopia.fyi/" target="_blank">Utopia</a> fluid responsiveness.
    </div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="https://github.com/microph1/microphi/tree/master/packages/styles" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>@datakitchen/ngx-toolkit</h2>


    <div class="content fx-py-2">Provides solutions and best practices for implementing and synchronizing various features, including search inputs, pagination, and persistence using localStorage or query parameters. Also contains mocking utilities, a simplified version of Angular's typed reactive forms, and other small utilities that any Angular developer may need.
    </div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="https://github.com/DataKitchen/ngx-toolkit/blob/master/projects/core/README.md" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>@datakitchen/ngx-monaco-editor</h2>


    <div class="content fx-py-2">A wrapper around <a href="https://microsoft.github.io/monaco-editor/">Microsoft's monaco editor</a> made specifically for use with Angular's Material form field.</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="https://github.com/DataKitchen/ngx-toolkit/blob/master/projects/ngx-monaco-editor/README.md" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>@datakitchen/rxjs-marbles</h2>


    <div class="content fx-py-2">A wrapper around rxjs' TestScheduler which is easier to use in unit tests and play nice with the `rxjs-scheduler` provider in `ngx-toolkit`.
    </div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="https://github.com/DataKitchen/ngx-toolkit/blob/master/projects/rxjs-marbles/README.md" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>
</section>

<div class="fx-flex break-2 fx-flex-col fx-justify-end" [fx-parallax]="0.3">

  <div class="citation-container">
    <blockquote class="citation">
      "Simplicity is the ultimate sophistication."
      <cite>— Leonardo da Vinci</cite>


  </div>
</div>

<div id="side-projects" class="fx-flex- fx-flex-col fx-items-center fx-p-2 fx-text-center">

  <h2>Side Projects / Experiments / Fun</h2>

</div>

<section class="container fx-flex fx-flex-row fx-flex-wrap fx-items-center fx-justify-center">

  <div class="card">
    <h2>Metronoman</h2>


    <p>A Simple PWA metronome</p>
    <div class="content fx-py-2"></div>
    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="//metronoman.com" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>Metronoman Flux Remix</h2>
    <div class="content fx-py-2">Same as Metronoman but made with @microphi/flux framework</div>
    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="//flux.metronoman.com" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>Neovim PDE</h2>
    <div class="content fx-py-2">Personal Development Environment</div>
    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="https://github.com/microph1/nvim-pde" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>Music</h2>
    <div class="content fx-py-2">My Music</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="https://www.soundcloud.com/davidecavaliere" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>

  <div class="card">
    <h2>Blog</h2>

    <div class="content fx-py-2">Articles published on dev.to</div>

    <div class="fx-flex fx-flex-row fx-justify-end fx-gap-1">
      <a class="button" href="https://dev.to/davidecavaliere" target="_blank">
        <span class="material-icons">public</span>
      </a>
    </div>
  </div>
</section>

<div class="fx-flex break-3 fx-flex-col fx-justify-end" [fx-parallax]="0.3">

  <div class="citation-container">
    <blockquote class="citation">
      "The important thing is to never stop questioning. Curiosity has its own reason for existing."
      <cite>— Albert Einstein</cite>
    </blockquote>
  </div>
</div>

<footer>
  <div id="contacts" class="container">
    <div class="fx-flex fx-flex-row xs:fx-flex-col fx-gap-2 fx-justify-around fx-items-center">
      <div>
        <img class="footer-logo" src="/w1.webp">
      </div>

      <div class="fx-flex fx-flex-col">

        <div>
          <a class="label fx-flex fx-flex-row fx-gap-2" href="mailto:cavaliere.davide@gmail.com">
            <span class="material-icons">email</span> <span>cavaliere.davide@gmail.com</span>
          </a>
        </div>
        <div>
          <a class="label fx-flex fx-flex-row fx-gap-2" href="tel:+393806472057">
            <span class="material-icons">phone</span> <span>+39 380 647 20 57</span>
          </a>
        </div>
        <div>
          <a class="label fx-flex fx-flex-row fx-gap-2" href="https://x.com/davidecavaliere" target="_blank">
            <span class="material-icons">public</span> <span>@davidecavaliere</span>
          </a>
        </div>
      </div>

      <!--<div>-->
      <!--  <img class="fx-vw-25" src="/w7.webp">-->
      <!--</div>-->
    </div>
    <!--<p class="footer-text">Get In Touch</p>-->
    <!--  -->
  </div>
</footer>
