@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto');



/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}
