@use "@microphi/styles/scss/display";
@use "@microphi/styles/scss/flex";
@use "@microphi/styles/scss/spacing-v2";
@use 'utopia-core-scss/src/utopia' as utopia;
@use "@microphi/styles/scss/typography";
@use "@microphi/styles/scss/sizing";


/* @import "@microphi/styles/scss/border-radius"; */

html, body {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

body {
  flex-direction: column;
  margin: 0;
  overflow: auto;

}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

:root {
  // Calling this:
  @include utopia.generateSpaceScale((
  "minWidth": 320,
  "maxWidth": 1240,
  "minSize": 12,
  "maxSize": 25,
  "positiveSteps": (1.5, 2, 2.5, 3),
  "negativeSteps": (.25, .50, .75),
  /* Optional params */
  "usePx": true,
  "relativeTo": "container",
  "prefix": "fx-",
  ));

  @include utopia.generateTypeScale((
  "minWidth": 320,
  "maxWidth": 1240,
  "minFontSize": 12,
  "maxFontSize": 20,
  "minTypeScale": 1.1,
  "maxTypeScale": 1.1,
  "positiveSteps": 6,
  "negativeSteps": 3,
  /* Optional params */
  "relativeTo": "contaier",
  "prefix": "fx-typography-",
  ));
}



// /* Root Variables */
// :root {
//   --color-primary: #384B70; /* Primary color */
//   --color-secondary: #507687; /* Secondary color */
//   --color-background: #FCFAEE; /* Background color */
//   --color-background-dark: #31343e;
//   --color-accent: #B8001F; /* Accent color */
//   --font-family: 'Roboto', sans-serif;
//   --font-headings: 'Montserrat', sans-serif;
//   --font-tech: 'Orbitron';
//   --border-radius: 8px;
//   --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
// }

/* Dark Theme Variables */
:root {
  --color-primary: #FCFAEE; /* Light color for primary elements */
  --color-secondary: #A6B8D0; /* Muted light secondary color */
  --color-background: #1C1F26; /* Dark background */
  --color-background-dark: #121417; /* Even darker background */
  --color-accent: #FF4C4C; /* Bright accent color for emphasis */
  --font-family: 'Roboto', sans-serif;
  --font-headings: 'Montserrat', sans-serif;
  --font-tech: 'Orbitron';
  --border-radius: 8px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Slightly darker shadow for dark theme */
}

/* General Reset */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, div, span, button, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: var(--fx-typography-6);
}

h2 {
  font-size: var(--fx-typography-5);
}

h3 {
  font-size: var(--fx-typography-4);
}

h4 {
  font-size: var(--fx-typography-3);
}

h5 {
  font-size: var(--fx-typography-2);
}

h6 {
  font-size: var(--fx-typography-1);
}

body {
  font-size: var(--fx-typography--1);
}

p {
  font-size: var(--fx-typography--1);
}

/* Body Styles */
body {
  font-family: var(--font-family);
  background-color: var(--color-background); /* Light background for readability */
  color: var(--color-primary); /* Dark text color */
  line-height: 1.6;
}

h1, h2, h3, h5, h6 {
  font-family: var(--font-tech);
}

p {
  font-family: var(--font-headings);
}

/* Header */
header {
  color: var(--color-primary); /* Light text for contrast */
}


.bg-light {
  background-color: var(--color-primary);
}

.bg-medium {
  background-color: var(--color-secondary);
}

.bg-dark {
  background-color: var(--color-background);
}

.hero {
  font-size: 64px;
  padding: 12px;
  background-color: rgba($color: #000000, $alpha: 0.3);
  border-radius: 24px;
  text-align: center;
}


.container-md {
  max-width: 1280px;
  margin: 0 auto;
}

.break-0 {

  background-image: url('/w15.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // min-height: 420px;
  // height: 60vh;
  // max-height: 1024px;
  // aspect-ratio: 7 / 4;

  height: 100vh;
}

.break-1 {
  color: var(--color-background); /* Light text for contrast */
  padding: 1rem;
  background-image: url('/w17.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.break-2 {
  color: var(--color-background); /* Light text for contrast */
  padding: 1rem;
  background-image: url('/w16.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.break-3 {
  color: var(--color-background); /* Light text for contrast */
  padding: 1rem;
  background-image: url('/w18.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

/* Navigation */
nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-secondary); /* Secondary color */
  padding: 0.5rem 0;
}

nav a {
  color: var(--color-background);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: var(--color-accent); /* Accent color */
}

a {
  color: var(--color-accent);
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-headings);
}

a.label {

  background-color: var(--color-background); /* Accent color */
  color: var(--color-primary);
  padding: 7px;
  display: flex;
  align-items: center;
}

/* Buttons */
a.button, button {
  background-color: var(--color-background); /* Accent color */
  color: var(--color-primary);
  border: none;
  width: 38px;
  height: 38px;
  padding: 7px;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  // font-size: 1rem;

  span {
    white-space: nowrap;
    display: flex;
  }
}

a:hover, button:hover {
  background-color: var(--color-secondary); /* Secondary color on hover */
}

/* Cards */
.card {
  background-color: var(--color-primary);
  color: var(--color-background);
  border-radius: var(--border-radius);
  padding: var(--fx-3xs);
  box-shadow: var(--box-shadow);
  margin: var(--fx-3xs);
  width: max(33vw, 260px);
  max-width: 460px;
  /* min-width: 320px; */
  min-height: max(15vw, 15vh);
  display: flex;
  flex-direction: column;
}

.card h2 {
  color: var(--color-background);
}

.card .content {
  flex-grow: 1;
}

/* Footer Styling */
footer {
  background-color: var(--color-background);
  color: var(--color-primary);
  padding: 20px;
  text-align: center;
  border-top: 1px solid var(--color-secondary);
}

.footer-logo {
  width: min(20vh, 20vw);
  aspect-ratio: 1 / 1;
  border-radius: var(--fx-3xs);
}


/* Inputs */
input, textarea {
  border: 2px solid var(--color-secondary); /* Secondary color */
  border-radius: var(--border-radius);
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

input:focus, textarea:focus {
  outline: none;
  border-color: var(--color-accent); /* Accent color on focus */
}

.logo-container {
  background-color: var(--color-background-dark);
  width: 100%;
  padding: 0;
  text-align: center;
}

.logo {
  aspect-ratio: 1;
  width: 36px;
  height: 36px;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 0px;
  padding: 0 0px;
}

/* Track */
::-webkit-scrollbar-track {
  padding: 0px;
  background-color: var(--color-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: var(--color-secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

// utilities
.fx-text-center {
  text-align: center;
}

/* General container for citations */
.citation-container {
  max-width: 800px;
  margin: 20px auto;
  // font-family: var(--font-family);
  color: #384B70;
}

/* Styling for blockquotes */
.citation {
  position: relative;
  background-color: #FCFAEE;
  border-left: 4px solid #507687;
  font-size: var(--fx-typography-3);
  padding: var(--fx-s);
  margin: var(--fx-m) 0;
  color: #31343e;
  border-radius: var(--fx-3xs);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  h2 {
    // font-size: 1.5rem;
    // margin: 30px 0 10px;
    color: #B8001F;
    text-align: center;
  }
}


.citation cite {
  display: block;
  margin-top: var(--fx-3xs);
  font-style: normal;
  color: #507687;
  text-align: right;
  font-weight: bold;
  font-size: var(--fx-typography-2);
}

/* References section */

.reference-list {
  list-style: decimal inside;
  margin: 0;
  padding: 0;
  color: #31343e;
}

.reference-list li {
  margin: 5px 0;
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 10px;
  border-left: 4px solid #384B70;
  background-color: #FCFAEE;
  padding: 8px 10px;
  border-radius: 8px;
}

.fx-position-fixed {
  position: fixed;
}
