@use 'sass:math';
//$font-weight-light: 300;
//$font-weight-heavy: 400;

$font-weight-map: (
  font-thin: 100,
  font-extralight: 200,
  font-light: 300,
  font-normal: 400,
  font-medium: 500,
  font-semibold: 600,
  font-bold: 700,
  font-extrabold: 800,
  font-black: 900
) !default;


@each $key, $value in $font-weight-map {
  .fx-#{$key} {
    font-weight: #{$value};
  }
}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,20,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --fx-typography--2: clamp(0.64rem, 0.6179rem + 0.1104vi, 0.7035rem); // overline
  --fx-typography--1: clamp(0.8rem, 0.7521rem + 0.2395vi, 0.9377rem); // caption
  --fx-typography-0: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem); // body
  --fx-typography-1: clamp(1.25rem, 1.1052rem + 0.7239vi, 1.6663rem); // h6
  --fx-typography-2: clamp(1.5625rem, 1.3334rem + 1.1454vi, 2.2211rem); // h5
  --fx-typography-3: clamp(1.9531rem, 1.6026rem + 1.7524vi, 2.9607rem); // h4
  --fx-typography-4: clamp(2.4414rem, 1.9178rem + 2.6178vi, 3.9467rem); // h3
  --fx-typography-5: clamp(3.0518rem, 2.2834rem + 3.842vi, 5.2609rem); // h2
  --fx-typography-6: clamp(3.8147rem, 2.7023rem + 5.5619vi, 7.0128rem); // h1
}

// TODO: Check the line-height for headlines and subtitles
.fx-headline-1 {
  font-size: var(--fx-typography-6);
  font-weight: map-get($font-weight-map, font-bold);
  line-height: initial;
}

.fx-headline-2 {
  font-size: var(--fx-typography-5);
  font-weight: map-get($font-weight-map, font-bold);
  line-height: initial;
}

.fx-headline-3 {
  font-size: var(--fx-typography-4);
  font-weight: map-get($font-weight-map, font-semibold);
  line-height: initial;
}

.fx-headline-4 {
  font-size: var(--fx-typography-3);
  font-weight: map-get($font-weight-map, font-normal);
  line-height: initial;
}

.fx-headline-5 {
  font-size: var(--fx-typography-2);
  font-weight: map-get($font-weight-map, font-normal);
  line-height: initial;
}

.fx-headline-6 {
  font-size: var(--fx-typography-1);
  font-weight: map-get($font-weight-map, font-normal);
  line-height: initial;
}

.fx-subtitle-1 {
  font-size: var(--fx-typography-0);
  font-weight: map-get($font-weight-map, font-normal);
  line-height: initial;
}

.fx-subtitle-2 {
  font-size: var(--fx-typography--1);
  font-weight: map-get($font-weight-map, font-normal);
  line-height: initial;
}

.fx-body-1 {
  font-size: var(--fx-typography-0);
  font-weight: map-get($font-weight-map, font-normal);
  line-height: 1.5rem;
}

.fx-body-2 {
  font-size: var(--fx-typography--1);
  font-weight: map-get($font-weight-map, font-normal);
  line-height: 1.25rem;
}

.fx-caption {
  font-size: var(--fx-typography--1);
  font-weight: map-get($font-weight-map, font-normal);
  line-height: 1.25rem;
}

.fx-overline {
  font-size: var(--fx-typography--2);
  font-weight: map-get($font-weight-map, font-normal);
  line-height: 1rem;
}


// headline-1 --6
// headline-2 --5
// headline-3 --4
// headline-4 --3
// headline-5 --2
// headline-6 --1
// subtitle-1 --0
// subtitle-2 ---1
// body-1 --0
// body-2 ---1
// caption ---1
// overline ---2


//.phi-display-4 {
//  font: $font-weight-light 9vw Roboto,"Helvetica Neue",sans-serif;
//  letter-spacing: -.05em;
//  margin: 0 0 56px;
//}
//
//.phi-display-3 {
//  font: $font-weight-heavy 4.6vw Roboto,"Helvetica Neue",sans-serif;
//  letter-spacing: -.02em;
//  margin: 0 0 64px;
//}
//
//.phi-display-2 {
//  font: $font-weight-heavy 3.54vw Roboto,"Helvetica Neue",sans-serif;
//  letter-spacing: -.005em;
//  margin: 0 0 64px;
//}
