<div fxFlex="calc(50%)" fxLayoutAlign="center center" class="intro mat-toolbar mat-primary phi-pad-h mat-elevation-z2">

  <div fxLayout="column" fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="70" fxFlex.lg="55" fxFlex.xl="40" fxLayoutGap="30px">

    <blockquote style="text-align: center">
      <div class="phi-display-4">
        Microphi (µφ)
      </div>
      <div class="phi-display-2">Tools for Angular Applications</div>

    </blockquote>

    <div fxLayoutAlign="center center">

      <button mat-raised-button>Get Stated</button>
    </div>
  </div>

</div>

<div class="mat-app-background phi-pad" fxLayout="column" fxLayoutGap="8vh">
  <div class="show-off" fxLayout="row" fxLayoutGap="10vw" fxLayoutAlign="center center">
    <div  fxFlex="calc(50%)">
      <img src="/assets/svg/undraw_dev_productivity_umsq.svg" alt="+Productivity" fxFill>
    </div>
    <div fxLayout="column">
      <h2>Decorators</h2>
      <div class="mat-body-1">Useful decorators for increased productivity</div>
    </div>
  </div>

  <div class="show-off" fxLayout="row-reverse" fxLayoutGap="10vw" fxLayoutAlign="center center">
    <div  fxFlex="calc(50%)">
      <img src="/assets/svg/undraw_success_factors_fay0.svg" alt="+Mocking" fxFill>
    </div>
    <div fxLayout="column">
      <h2>Testing</h2>
      <div class="mat-body-1">Mock Components and Services on the fly</div>
    </div>
  </div>

  <div class="show-off" fxLayout="row" fxLayoutGap="10vw" fxLayoutAlign="center center">
    <div  fxFlex="calc(50%)">
      <img src="/assets/svg/undraw_yoga_248n.svg" alt="+Custom" fxFill>

    </div>
    <div fxLayout="column">
      <h2>Extensible</h2>
      <div class="mat-body-1">Well tested and easy to customized</div>
    </div>
  </div>

  <div class="show-off" fxLayout="row-reverse" fxLayoutGap="10vw" fxLayoutAlign="center center">
    <div  fxFlex="calc(50%)">
      <img src="/assets/svg/undraw_abstract_x68e.svg" alt="+Comprehensive" fxFill>

    </div>
    <div fxLayout="column">
      <h2>Comprehensive</h2>
      <div class="mat-body-1">From Google Analytics to Web Components. Everything you need to develop modern web applications with Angular</div>
    </div>
  </div>


</div>
