<div fxFlexFill fxLayoutAlign="center start">

  <div fxLayout="column" fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="70" fxFlex.lg="55" fxFlex.xl="40" fxLayoutGap="30px">


    <mat-card *ngIf=" '' | isLoggedIn | async">

      <mat-card-content class="mat-body-1">
<!--        <form [formGroup]="story" fxLayout="column">-->
<!--          <mat-form-field>-->
<!--            <mat-label>what's up?</mat-label>-->
<!--            <input matInput placeholder="what's up?" formControlName="title" required>-->
<!--            <mat-error *ngIf="title.dirty && title.errors">{{'a title is required'}}</mat-error>-->
<!--          </mat-form-field>-->

<!--          <mat-form-field fxFlex="">-->
<!--            <mat-label>tell it!</mat-label>-->
<!--            <textarea rows="5" matInput placeholder="tell it!" formControlName="body" required></textarea>-->
<!--            <mat-error *ngIf="body.dirty && body.errors">{{'a body is required'}}</mat-error>-->
<!--          </mat-form-field>-->
<!--        </form>-->
      </mat-card-content>

      <mat-card-actions fxLayoutAlign="end space-between">
<!--        <button mat-raised-button color="primary" (click)="post()">POST</button>-->
      </mat-card-actions>
    </mat-card>

    <mat-progress-bar mode="indeterminate" *ngIf="loadingTickets"></mat-progress-bar>

    <mat-card *ngFor="let i of (tickets$ | async)">
      <mat-card-header>
        <mat-card-title>
         {{i.description| json}}
        </mat-card-title>
        <mat-card-subtitle>
          assignee: {{i.assignee?.name}}
          done: {{(i.isLoading) ? 'updating...' : i.completed}}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="mat-body-1">
        <pre>
          {{i | json}}
        </pre>

      </mat-card-content>

      <mat-card-actions fxLayoutAlign="end space-between">
        <button mat-button>assign</button>
        <button mat-button (click)="changeStatus(i)">done/undone</button>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
