@import "variables";

@mixin generate-utilities($utility) {
  $values: map-get($utility, values);
  $properties: map-get($utility, property);

  // Use shortcut if present
  $property-shortcut: if(map-has-key($utility, shortcut), map-get($utility, shortcut), nth($properties, 1));
  $property-shortcut: if($property-shortcut == null, "", $property-shortcut);

  // If the values are a list or string, convert it into a map
  @if type-of($values) == "string" or type-of(nth($values, 1)) != "list" {
    $values: zip($values, $values);
  }

  @each $key, $value in $values {
    // Remove property in selector name if shortcut is null
    $selector: if($property-shortcut == '', #{$prefix}-#{$key}, #{$prefix}-#{$property-shortcut}-#{$key});

    .#{$selector} {
      @each $property in $properties {
        #{$property}: #{$value};
      }
    }

    @include generate-mq($selector) {
      @each $property in $properties {
        #{$property}: #{$value} !important;
      }
    }
  }
}

// Generate media queries classes
// e.g. .md:fx-flex or .xl:fx-inline-flex
@mixin generate-mq($selector, $breakpoints: $_breakpoints) {
  @each $breakpoint, $width in $breakpoints {
    @media (min-width: #{$width}px) {
      .#{$breakpoint}\:#{$selector} {
        @content;
      }
    }
  }
}
