@use "sass:map";

@import "variables";
@import "mixins";

$spacing-map: (
  "margin": (
    property: margin,
    shortcut: m,
    values: $_spacing-values
  ),
  "margin-top": (
    property: margin-top,
    shortcut: mt,
    values: $_spacing-values
  ),
  "margin-right": (
    property: margin-right,
    shortcut: mr,
    values: $_spacing-values
  ),
  "margin-bottom": (
    property: margin-bottom,
    shortcut: mb,
    values: $_spacing-values
  ),
  "margin-left": (
    property: margin-left,
    shortcut: ml,
    values: $_spacing-values
  ),
  "margin-x": (
    property: (margin-right, margin-left),
    shortcut: mx,
    values: $_spacing-values
  ),
  "margin-y": (
    property: (margin-top, margin-bottom),
    shortcut: my,
    values: $_spacing-values
  ),
  "padding": (
    property: padding,
    shortcut: p,
    values: map.deep-remove($_spacing-values, "a")
  ),
  "padding-top": (
    property: padding-top,
    shortcut: pt,
    values: map.deep-remove($_spacing-values, "a")
  ),
  "padding-right": (
    property: padding-right,
    shortcut: pr,
    values: map.deep-remove($_spacing-values, "a")
  ),
  "padding-bottom": (
    property: padding-bottom,
    shortcut: pb,
    values: map.deep-remove($_spacing-values, "a")
  ),
  "padding-left": (
    property: padding-left,
    shortcut: pl,
    values: map.deep-remove($_spacing-values, "a")
  ),
  "padding-x": (
    property: (padding-right, padding-left),
    shortcut: px,
    values: map.deep-remove($_spacing-values, "a")
  ),
  "padding-y": (
    property: (padding-top, padding-bottom),
    shortcut: py,
    values: map.deep-remove($_spacing-values, "a")
  ),
);

@each $key, $utility in $spacing-map {
  @include generate-utilities($utility)
}
