@use "variables" as v;
@use "mixins" as m;

$display-map: (
  "display": (
    property: display,
    shortcut: null,
    values: (block, inline-block, inline, flex, inline-flex)
  ),
  "overflow": (
    property: overflow,
    shortcut: 'overflow',
    values: (hidden, auto)
  )
);

@each $key, $utility in $display-map {
  @include m.generate-utilities($utility)
}


.#{v.$prefix}-hidden {
  display: none;
}

@include m.generate-mq(#{v.$prefix}-hidden) {
  display: none !important;
}
