@use "variables" as var;
@use "mixins" as mix;

// Flex utilities map
$flex-map: (
  "flex": (
    property: flex,
    values: (
      1: 1 0 0,
      auto: 1 1 auto,
      initial: 0 1 auto,
      none: none,
    )
  ),
  "flex-direction": (
    property: flex-direction,
    shortcut: flex,
    values: (
      row: row,
      row-reverse: row-reverse,
      col: column,
      col-reverse: column-reverse
    )
  ),
  "flex-wrap": (
    property: flex-wrap,
    shortcut: flex,
    values: (wrap, wrap-reverse, nowrap)
  ),
  "flex-grow": (
    property: flex-grow,
    shortcut: grow,
    values: (1, 0)
  ),
  "flex-shrink": (
    property: flex-shrink,
    shortcut: shrink,
    values: (1, 0)
  ),
  "justify-content": (
    property: justify-content,
    shortcut: justify,
    values: (
      normal: normal,
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      evenly: space-evenly,
      stretch: stretch
    )
  ),
  "align-items": (
    property: align-items,
    shortcut: items,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch
    )
  ),
  "gap": (
    property: gap,
    shortcut: gap,
    values: var.$values
  ),
);

@each $key, $utility in $flex-map {
  @include mix.generate-utilities($utility)
}
