@use "sass:math";

$i: 100;

@while $i < 700 {


  .fx-f-#{$i} {
    font-weight: $i;
  }

  // do stuff
  $i: $i + 100;
}


$j: 1;

@while $j < 100 {


  .fx-f-size-#{$j} {
    font-size: #{$j}px;
    line-height: #{$j}px;
  }
  .fx-f-vw-#{$j} {
    font-size: #{$j}vw;
    line-height: #{$j}vw;
  }

  // do stuff
  $j: $j + 2;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.headline-1 {
  font-size: clamp(48px, 7vw, 96px);
  line-height: clamp(50px, 7vw, 98px);
  font-weight: 300;
  margin-bottom: clamp(28px, 7vw, 56px);
}

.headline-2 {
  font-size: clamp(26px, 4vw, 50px);
  line-height:clamp(32px, 6vw, 65px);
  font-weight: 300;
  margin-bottom: clamp(12px, 6vw, 38px);
}

.headline-3 {
  font-size: clamp(24px, 3vw, 3vh);
  font-weight: 500;
  line-height: clamp(27px, 3.2vw, 3.2vh);
  // font-family: Roboto, sans-serif;
  letter-spacing: .0073529412em;
  margin-bottom: clamp(20px, 2.5vw, 2.5vh);
}


.headline-4-no-margin {
  font-size: clamp(20px, 2.6vw, 2.6vh);
  font-weight: 400;
  line-height: clamp(48px, 2.8vw, 2.6vh);
  // font-family: Roboto, sans-serif;
}

.headline-4 {
  @extend .headline-4-no-margin;
  letter-spacing: .0073529412em;
  margin-bottom: clamp(18px, 2.3vw, 2.3vh);
}

.headline-5 {
  font-size: clamp(18px, 2.3vw, 2.3vh);
  line-height: clamp(21px, 2.5vw, 2.5vh);
  margin-bottom: clamp(2px, 0.8vw, 0.8vh);
}

.headline-6 {
  font-size: clamp(16px, 1.5vw, min(1.5vh, 22px));
  line-height: clamp(16px, 1.5vw, min(1.5vh, 26px));
  margin-bottom: clamp(2px, 0.8vw, min(0.8vh, 10px));
}

.subtitle-1 {
  font-size: clamp(13px, 1.5vw, 1.5vh);
  line-height: clamp(13px, 1.7vw, 1.7vh);
  margin-bottom: clamp(2px, 0.5vw, 0.5vh);
}

.subtitle-2 {
  font-size: clamp(13px, 1.3vw, 1.3vh);
  line-height: clamp(17px, 1.6vw, 1.6vh);
}

.caption {
  font-size: clamp(11px, 1.1vw, 1.1vh);
  line-height: clamp(12px, 1.2vw, 1.2vh);
}

.no-margin {
  margin: 0 !important;
}

.fx-f-capitalize {
  text-transform: capitalize;
}
