<div fxFlexFill fxLayoutAlign="center start">

  <div fxLayout="column" fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="70" fxFlex.lg="55" fxFlex.xl="40" fxLayoutGap="30px">


    <mat-card *ngIf=" '' | isLoggedIn | async">

      <mat-card-content class="mat-body-1">
<!--        <form [formGroup]="story" fxLayout="column">-->
<!--          <mat-form-field>-->
<!--            <mat-label>what's up?</mat-label>-->
<!--            <input matInput placeholder="what's up?" formControlName="title" required>-->
<!--            <mat-error *ngIf="title.dirty && title.errors">{{'a title is required'}}</mat-error>-->
<!--          </mat-form-field>-->

<!--          <mat-form-field fxFlex="">-->
<!--            <mat-label>tell it!</mat-label>-->
<!--            <textarea rows="5" matInput placeholder="tell it!" formControlName="body" required></textarea>-->
<!--            <mat-error *ngIf="body.dirty && body.errors">{{'a body is required'}}</mat-error>-->
<!--          </mat-form-field>-->
<!--        </form>-->
      </mat-card-content>

      <mat-card-actions fxLayoutAlign="end space-between">
<!--        <button mat-raised-button color="primary" (click)="post()">POST</button>-->
      </mat-card-actions>
    </mat-card>

    <mat-progress-bar mode="indeterminate" *ngIf="loadingTickets"></mat-progress-bar>

    <div fxLayout="row" fxLayoutGap="50px">

      <div fxLayout="column" fxLayoutGap="50px">

        <app-ticket *ngFor="let ticket of (tickets$ | async)" [ticket]="ticket">
        </app-ticket>

      </div>

<!--      <div fxLayout="column" fxLayoutGap="50px">-->
<!--        <cdk-virtual-scroll-viewport itemSize="1000">-->
<!--          <mat-card *cdkVirtualFor="let i of (tickets$ | async)">-->
<!--            test-->
<!--            <mat-card-content class="mat-body-1" *ngIf="(i | async) as t">-->
<!--            <pre>-->
<!--              {{t | json}}-->
<!--            </pre>-->

<!--              <button mat-button (click)="assign(t, {id: 123})">assign</button>-->
<!--              <button mat-button (click)="changeStatus(t)">-->
<!--                done/undone-->
<!--                <mat-progress-bar mode="indeterminate" *ngIf="t.isLoading"></mat-progress-bar>-->
<!--              </button>-->
<!--            </mat-card-content>-->


<!--          </mat-card>-->

<!--        </cdk-virtual-scroll-viewport>-->

<!--      </div>-->

<!--      <div fxLayout="column" fxLayoutGap="50px">-->

<!--        <mat-card *ngFor="let i of tickets$$;">-->

<!--          <div *ngIf="(i | async) as ticket">-->
<!--            <mat-card-content class="mat-body-1">-->
<!--              <pre>-->
<!--                {{ticket | json}}-->
<!--              </pre>-->

<!--            </mat-card-content>-->

<!--            <mat-card-actions fxLayoutAlign="end space-between">-->
<!--              <button mat-button (click)="assign(ticket, {id: 123})">assign</button>-->
<!--              <button mat-button (click)="changeStatus(ticket)">-->
<!--                done/undone-->
<!--                <mat-progress-bar mode="indeterminate" *ngIf="ticket.isLoading"  ></mat-progress-bar>-->
<!--              </button>-->
<!--            </mat-card-actions>-->

<!--          </div>-->
<!--        </mat-card>-->
<!--      </div>-->


    </div>


  </div>

</div>
