<main [phiParallax]="0.4" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="50px"
      class="mat-elevation-z1 phi-background">

  <div phiAnimateText class="mat-display-4" style="text-align: center"><strong>Crafting Software With 💟</strong></div>

</main>


<div fxLayout="column" class="mat-elevation-z7" fxLayoutGap="25px;">

  <div class="phi-pad-h mat-elevation-z1">
    <div class="phi-display-4">The attitude is a delighted ship.</div>
    <div class="mat-display-3">When one develops samadhi and career, one is able to grasp pain.</div>
  </div>

  <div class="phi-background phi-backdrop-fixed screenshot-bg mat-elevation-z1 phi-pad-h">
  </div>

  <div class="phi-pad-h mat-elevation-z1">
    <div class="phi-display-3">Going to the fraternal mind doesn’t yearn trust anymore than hearing creates small blessing.</div>
    <div class="phi-display-2">The united space quickly deceives the astronaut.</div>
  </div>

  <dcs-projects></dcs-projects>
</div>

