@import "~@angular/material/theming";

main {
  background-image: url("https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  text-shadow: 0 0 5px #000;
  color: $light-primary-text;
  height: 100vh;
  //transition:background-position 0.2s ease
}

.screenshot-bg {
  background-image: url("/assets/images/backdrop.png");
  height: 40vh;
  background-size: auto;
}


