@import "mixins";

$sizing-map: (
  "width": (
    property: width,
    shortcut: w,
    values: (
      0: 0,
      25: 25%,
      50: 50%,
      75: 75%,
      full: 100%,
      auto: auto
    )
  ),
  "viewport-width": (
    property: width,
    shortcut: vw,
    values: (
      25: 25vw,
      50: 50vw,
      75: 75vw,
      full: 100vw
    )
  ),
  "height": (
    property: height,
    shortcut: h,
    values: (
      0: 0,
      25: 25%,
      50: 50%,
      75: 75%,
      full: 100%,
      auto: auto
    )
  ),
  "viewport-height": (
    property: height,
    shortcut: vh,
    values: (
      25: 25vh,
      50: 50vh,
      75: 75vh,
      full: 100vh
    )
  ),
  "size": (
    property: (width, height),
    shortcut: size,
    values: (
      1\/4: 25%,
      2\/4: 50%,
      3\/4: 75%,
      full: 100%
    )
  ),
);

@each $key, $utility in $sizing-map {
  @include generate-utilities($utility)
}
