@import 'bulma';

$color: #673ab7;

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
  flex-direction: column;

  & > * {
    display: flex;
  }
}

.fx-column {
  flex-direction: column;
}

.fx-row {
  flex-direction: row;
}

.fx-grow {
  flex-grow: 1;
}
