:host {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  & .mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  & app-toolbar {
    z-index: 9;
  }
}


.portal-body {
  margin-top: 64px;
  overflow: auto;
}
