<mat-progress-bar style="position: fixed" [mode]="'indeterminate'" class="mat-elevation-z6" *ngIf="isLoading$ | async"></mat-progress-bar>

<mat-toolbar color="primary" class="mat-elevation-z4">
  <mat-toolbar-row>
    <a mat-button routerLink="/" style="font-size: 3.4vh">
      <img width="38px" src="/assets/microphi_icon.png" alt="microphi_icon">
      Microphi µφ
    </a>
    <span fxFlex></span>
    <a fxHide.lt-sm="" mat-button
       [routerLink]="project.name"
       routerLinkActive="phi-active"
       style="text-transform: capitalize;"
       *ngFor="let project of (projects$ | async)">
      {{project.name}}
    </a>


    <span>
      <a mat-icon-button href="//github.com/microph1/microphi" target="_blank">
        <mat-icon>code</mat-icon>
      </a>
    </span>

  </mat-toolbar-row>
  <mat-toolbar-row fxHide.gt-xs="">
    <a mat-button
       [routerLink]="project.name"
       routerLinkActive="phi-active"
       style="text-transform: capitalize;"
       *ngFor="let project of (projects$ | async)">
      {{project.name}}
    </a>

  </mat-toolbar-row>
</mat-toolbar>

<div fxFlex style="overflow: auto">
  <router-outlet></router-outlet>


</div>
<mat-toolbar color="primary">
  <a mat-button href="//www.dcsoftware.io" target="_blank">
    <mat-icon>favorite</mat-icon>
    dcsoftware.io
  </a>

</mat-toolbar>
