<!--<section class="hero">-->
<!--  <div class="hero-head navbar is-primary">-->
<!--    <div class="navbar-start ">-->
<!--      <a class="navbar-item" href="#">-->
<!--        <img src="https://metronoman.com/assets/metronoman.png" alt="" class="pr-1">-->
<!--        <h1 class="title is-5">{{title}}</h1>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<header class="mdc-top-app-bar mdc-elevation--z6">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu">menu</button>
      <span class="mdc-top-app-bar__title">{{title}}</span>
    </section>
<!--    <section class="mdc-top-app-bar__section mdc-top-app-bar__section&#45;&#45;align-end" role="toolbar">-->
<!--      <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Favorite">favorite</button>-->
<!--      <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">search</button>-->
<!--      <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Options">more_vert</button>-->
<!--    </section>-->
  </div>
</header>
